In [ ]:
import pandas as pd

Series

In [ ]:
disciplinas=pd.Series(['Matematicas','Historia','Ingles','Geografia'])

In [ ]:
disciplinas

In [ ]:
disciplinas[3]

In [ ]:
disciplinas[:2]

In [ ]:
numeros=pd.Series([1,3,8, 16, 20])

In [ ]:
numeros

In [ ]:
#numeros.dtype
#numeros.size
#numeros.shape
#numeros.index

In [ ]:
len(numeros)

In [ ]:
#usamos el constructor de python dict para crear un diccionario 
edades=dict(Juan=20,Maria=50,Pedro=30)

In [ ]:
edades

In [ ]:
serie_edades=pd.Series(edades)
serie_edades

In [ ]:
serie_edades[:2]

In [ ]:
serie_edades['Juan']

In [ ]:
numeros=pd.Series([1,3,8, 16, 20])
numeros.count()

In [ ]:
numeros.size

In [ ]:
numeros.cumsum()

In [ ]:
numeros.sum()

In [ ]:
numeros.min()

In [ ]:
numeros.value_counts()

In [ ]:
numeros_1=pd.Series([1,1,1,4,5,6,8,8,8,8])

In [ ]:
numeros_1.value_counts()

In [ ]:
numeros.describe()

In [ ]:
numeros*10

In [ ]:
#numeros.sort_values()
#numeros.sort_index()

In [ ]:
numeros[numeros>10]

In [ ]:
#pedir ayuda en python
help(pd.Series)

Dataframes

In [ ]:
#creacion a partir de un diccionario
notas=pd.DataFrame(dict(Juan=[6,8,9],Maria=[7,5,10],Pedro=[4,4,4]))   
notas

In [ ]:
#importar un .csv

df=pd.read_csv('C:/Users/Usuario/Downloads/colesterol.csv', sep=';',decimal=',')

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.isnull()

In [ ]:
df.size

In [ ]:
df.columns

In [ ]:
df.columns[2:5]

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
#como agregar columnas
df['agregados']=[3,4,6,7,8]


#df['agregados']=pd.Series([5, 8,14, 13,22])

In [ ]:
df['agregados']=pd.Series([5, 8,14, 13,22])

In [ ]:
df

In [ ]:
df['peso']>50

In [ ]:
#eliminar columnas
df.pop('agregados')

In [ ]:
df

In [ ]:
#del df['agregados'] es otra forma de eliminar columnas

In [ ]:
#elimina filas
df.drop([2,3])

In [ ]:
df

In [ ]:
df.drop([2,3],inplace=True)

In [ ]:
df

In [ ]:
#eliminar nulos
#df.dropna()
#df.dropna(inplace=True)

In [ ]:
#usar filtros
df[(df['sexo']=='H')& (df['colesterol']>240)]

In [ ]:
#localizar un elemento

df.loc[8]

In [ ]:
df.iloc[8]

In [ ]:
#llamar a una columna
df['peso']

In [ ]:
df.describe()

In [ ]:
#group by  me sirve para agrupar por una de las variables
df.groupby(['sexo']).groups

In [ ]:
pd.DataFrame(df.groupby('sexo')['altura'])

In [ ]:
#exportar un dataframe a csv
df.to_csv('colesterol_nuevo.csv')